body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  min-height: 0;
  flex-basis: 0;
  overflow-y: auto;
}

footer img {
  height: 1em;
}

footer [data-tooltip] {
  border-bottom: none !important;
}